{% extends 'home/base.html' %}
{% load static %}
{% block title %}Mathias Freiwald | Web Development{% endblock %}
{% block content %}

{% if content_language == 'de' %}
    <section id="welcome">
        <br>
        <img id="portrait" src="{% static 'home/img/profile_pic_240_320_round.png' %}" alt="portrait">
        <br><br>
        <p class="ta-justify">Hallo, mein Name ist Mathias Freiwald, willkommen auf meiner Website!</p>
        <br>
        <p class="ta-justify">Ich baue gerne Dinge mit Django.</p>
        <br>
        <p class="ta-justify">Sie können den Source-Code für diese Seite <a href="">hier</a> finden.</p>
        <br>
        <h4>Muster</h4>
        <a href="{% url 'guestbook:list_entries_final' %}" target="_blank">Guestbook</a><br>
        <br>
        <h4>Kontakt</h4>
        <a href="mailto:m.freiwald@gmx.net">m.freiwald@gmx.net</a>
        <br><br>
        <h4>Ich nutze auch</h4>
        <ul>
            <li>Bootstrap</li>
            <li>jQuery</li>
            <li>Sass</li>
            <li>Gimp</li>
            <li>Ubuntu</li>


        </ul>

    </section>
{% elif content_language == 'en' %}
    <section id="welcome">
        <br>
        <img id="portrait" src="{% static 'home/img/profile_pic_240_320_round.png' %}" alt="portrait">
        <br><br>
        <p class="ta-justify">Hello, my name is Mathias Freiwald. Welcome to my website!</p>
        <br>
        <p class="ta-justify">I like to build things with django.</p>
        <br>
        <p class="ta-justify">You can find the source code for this site <a href="#">here</a>.</p>
        <br>
        <h4>samples</h4>
        <a href="{% url 'guestbook:list_entries_final' %}" target="_blank">Guestbook</a><br>
        <br>
        <h4>contact</h4>
        <a href="mailto:m.freiwald@gmx.net">m.freiwald@gmx.net</a>
    </section>
{% else %}
    <section id="welcome">
        <br>
        <img id="portrait" src="{% static 'home/img/profile_pic_240_320_round.png' %}" alt="portrait">
        <br><br>
        <p class="ta-justify">Hello, my name is Mathias Freiwald. Welcome to my website!</p>
        <br>
        <p class="ta-justify">I like to build things with django.</p>
        <br>
        <p class="ta-justify">You can find the source code for this site <a href="#">here</a>.</p>
        <br>
        <h4>samples</h4>
        <a href="{% url 'guestbook:list_entries_final' %}" target="_blank">Guestbook</a><br>
        <br>
        <h4>contact</h4>
        <a href="mailto:m.freiwald@gmx.net">m.freiwald@gmx.net</a>
    </section>
{% endif %}

{% endblock %}