:root {
    --main-black: #000000;
    --main-white: #FFFFFF;
    --main-blue: #6495ED;
    --main-grey: #303841;
    --main-azure: #F0FFFF;
    --main-green: #B0E0E6;
    --main-green-accent: #7FFFD4;
}
