{% extends 'guestbook/base.html' %}

{% load static %}

{% load guestbook_extras %}

{% block title %}Mathias Freiwald | Web development{% endblock %}

{% block content %}

{% if page_view %}
    {% if page_view == 'listview' %}
        <style>
            .css-grid {
                grid-template-columns: repeat(auto-fill, minmax(980px, 1fr));
            }
        </style>
    {% elif page_view == 'mosaicview' %}
        <style>
            .css-grid {
                grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
            }
        </style>
    {% endif %}
{% else %}
    <style>
        .css-grid {
            grid-template-columns: repeat(auto-fill, minmax(980px, 1fr));
        }
    </style>
{% endif %}

<section id="filter">
    <form method="GET" action="">

        {{ filtered_guestbook.form.as_p }}

        <br>

        <p>Order by:</p>
        {% if order_radio_button %}
            {% if order_radio_button == 'name' %}
            <input type="radio" id="author" name="order_group" value="author" checked>
            <label for="author">Author</label><br>
            <input type="radio" id="date_ascending" name="order_group" value="date_ascending">
            <label for="date_ascending">Date ascending</label><br>
            <input type="radio" id="date_descending" name="order_group" value="date_descending">
            <label for="date_descending">Date descending</label><br>
            {% elif order_radio_button == 'date_ascending' %}
            <input type="radio" id="author" name="order_group" value="author">
            <label for="author">Author</label><br>
            <input type="radio" id="date_ascending" name="order_group" value="date_ascending" checked>
            <label for="date_ascending">Date ascending</label><br>
            <input type="radio" id="date_descending" name="order_group" value="date_descending">
            <label for="date_descending">Date descending</label><br>
            {% elif order_radio_button == 'date_descending' %}
            <input type="radio" id="author" name="order_group" value="author">
            <label for="author">Author</label><br>
            <input type="radio" id="date_ascending" name="order_group" value="date_ascending">
            <label for="date_ascending">Date ascending</label><br>
            <input type="radio" id="date_descending" name="order_group" value="date_descending" checked>
            <label for="date_descending">Date descending</label><br>
            {% endif %}
        {% else %}
        <input type="radio" id="author" name="order_group" value="author" checked>
        <label for="author">Author</label><br>
        <input type="radio" id="date_ascending" name="order_group" value="date_ascending">
        <label for="date_ascending">Date ascending</label><br>
        <input type="radio" id="date_descending" name="order_group" value="date_descending">
        <label for="date_descending">Date descending</label><br>
        {% endif %}

        <br>

        <label for="entries_per_page">Entries per page:</label>
            {% if entries_per_page %}
                {% if entries_per_page == '---------' %}
                <select name="entries_per_page" id="entries_per_page">
                <option value="---------" selected>---------</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
                </select>
                {% elif entries_per_page == '8' %}
                <select name="entries_per_page" id="entries_per_page">
                <option value="---------">---------</option>
                <option value="8" selected>8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
                </select>
                {% elif entries_per_page == '16' %}
                <select name="entries_per_page" id="entries_per_page">
                <option value="---------">---------</option>
                <option value="8">8</option>
                <option value="16" selected>16</option>
                <option value="32">32</option>
                <option value="64">64</option>
                </select>
                {% elif entries_per_page == '32' %}
                <select name="entries_per_page" id="entries_per_page">
                <option value="---------">---------</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32" selected>32</option>
                <option value="64">64</option>
                </select>
                {% elif entries_per_page == '64' %}
                <select name="entries_per_page" id="entries_per_page">
                <option value="---------">---------</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64" selected>64</option>
                </select>
                {% else %}
                <select name="entries_per_page" id="entries_per_page">
                <option value="---------">---------</option>
                <option value="8" selected>8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
                </select>
                {% endif %}
            {% else %}
            <select name="entries_per_page" id="entries_per_page">
            <option value="---------">---------</option>
            <option value="8" selected>8</option>
            <option value="16">16</option>
            <option value="32">32</option>
            <option value="64">64</option>
            </select>
            {% endif %}

        <br><br>

        {% if page_view %}

            {% if page_view == 'listview' %}
            <p>View as:</p>
            <input type="radio" id="listview" name="view_group" value="listview" checked>
            <label for="listview">List view</label><br>
            <input type="radio" id="mosaicview" name="view_group" value="mosaicview">
            <label for="mosaicview">Mosaic view</label><br>
            {% elif page_view == 'mosaicview' %}
            <p>View as:</p>
            <input type="radio" id="listview" name="view_group" value="listview">
            <label for="listview">List view</label><br>
            <input type="radio" id="mosaicview" name="view_group" value="mosaicview" checked>
            <label for="mosaicview">Mosaic view</label><br>
            {% else %}
            <p>View as:</p>
            <input type="radio" id="listview" name="view_group" value="listview" checked>
            <label for="listview">List view</label><br>
            <input type="radio" id="mosaicview" name="view_group" value="mosaicview">
            <label for="mosaicview">Mosaic view</label><br>
            {% endif %}

        {% else %}
        <p>View as:</p>
        <input type="radio" id="listview" name="view_group" value="listview" checked>
        <label for="listview">List view</label><br>
        <input type="radio" id="mosaicview" name="view_group" value="mosaicview">
        <label for="mosaicview">Mosaic view</label><br>

        {% endif %}

        <br>
        <button class="form_button" type="submit">Filter</button>
    </form>
</section>

<section id="main_container">

    <div id="css-grid" class="css-grid">
        {% for guestbook in guestbook_page_obj %}
            <div class="guestbook-card">
                <h2>{{ guestbook.title }}</h2>
                <small><p>{{ guestbook.date_create }}</p></small>
                <p>written by: {{ guestbook.author }}</p>
                <p class="ta-justify">{{ guestbook.text|slice:":350" }}...</p>
                <a href="{% url 'guestbook:guestbook_detailview' guestbook.slug %}">Read more >></a>
            </div>
        {% endfor %}
    </div>

    <div id="pagination">
            {% if guestbook_page_obj.has_previous %}
                <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo First</a>
                <a href="{% my_url guestbook_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            {% endif %}

            {% for i in nums %}
                  {% if forloop.counter == guestbook_page_obj.number %}
                      <a class="page-link" href="{% my_url forloop.counter 'page' request.GET.urlencode %}">*{{ forloop.counter }}*</a>
                  {% else %}
                      <a class="page-link" href="{% my_url forloop.counter 'page' request.GET.urlencode %}">{{ forloop.counter }}</a>
                  {% endif %}
            {% endfor %}

            {% if guestbook_page_obj.has_next %}
                <a href="{% my_url guestbook_page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
                <a href="{% my_url guestbook_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo Last</a>
            {% endif %}
    </div>

</section>

{% endblock %}